.container-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #128C7E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 15px;
    bottom: 30px;
    transition: ease-in-out .4s;

    &:hover {
        background-color: #25D366;
        scale: (1.08);
    }

    a{ 
        text-decoration: none;
        color: #fff;
        font-size: 2.3rem;
    }
}

@media (min-width: 810px){
    .container-btn {
        width: 80px;
        height: 80px;
        right: 30px;
        bottom: 50px;

        a{ 
            font-size: 4rem;
        }
    }
}