<section class="location">
    <div class="location--tittle">
        <h1>Quando te vejo por aqui?</h1>
    </div>
    <div class="location--map">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d894.2283969534861!2d-48.84841571349182!3d-26.296901185970775!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa9c1027d6bbee941%3A0x7402384be32f8bea!2s%C3%89vora%20-%20Cl%C3%ADnica%20Integrada%20de%20Sa%C3%BAde!5e0!3m2!1spt-BR!2sbr!4v1698526792797!5m2!1spt-BR!2sbr"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="image">
            
        </div>
    </div>
</section>